* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: black;
}

body{
	display: flex;
}

#jogo{
	width: 95%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 6%;
}

.peça{
	width: 14%;
	height: auto;
	position: relative;
	transform: scale(1);
}

.peça:active{
	transform: scale(.90);
	transition: transform .2s;

}

.frente, .verso{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	padding: 4%;
	position: relative;
}


.frente:hover, .verso:hover{
	
}

.frente{
	display: hidden;
}

.verso{
	display: none;
}